# http://editorconfig.org
# preamble
root = true

# All Files
[*]
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Python: PEP-8
[*.py]
indent_size = 4
tab_width = 4
max_line_length = 79

[*.json]
max_line_length = 120

# YAML Files
[*.{yml,yaml}]
max_line_length = 120

[Jenkinsfile]
max_line_length = 120

[*.ini]
max_line_length = 120
